<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Your own style sheet -->
    <link href="/assets/styles/style.css" rel="stylesheet" type="text/css">
	  
    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
  <div class="jumbotron text-center" id="survey">
    <h1>Survey</h1>
    <h2>Welcome to this Web Survey!</h2>
  </div>
  <div class="container-md p-3 my-3 border bg-dark" id="survey">
    <form>
	<div class="container-md p-3 my-3">
		<h2>Transport Canada</h2>
		<a href="https://www.tc.gc.ca/en/transport-canada.html">
			<img src="/assets/images/transport_canada.PNG" alt="https://www.tc.gc.ca/en/transport-canada.html" width="450" height="300">
		</a>
		<h2>Qu'en pensez-vous de l'interface usager de ce site de <a href="https://www.tc.gc.ca/en/transport-canada.html">Transport Canada</a>?</h2>
		<br>
		<br>
	</div>
	<div class="container-md p-3 my-3 border bg-light">
		<h3>Qu'en pensez-vous de l'UI? Première impression!</h3><br>
		<div>
			<select class="custom-select" name="ques1">	      
				<option value="Je l'aime" selected="selected">Je l'aime</option>
				<option value="Pas mal">Pas mal</option>
				<option value="Je ne l'aime pas">Je ne l'aime pas</option>
			</select>
		</div>
	</div>
	<br>
	<div class="container-md p-3 my-3 border bg-light">
		<h3>Selon toi, est-ce que le site semble fonctionner correctement</h3><br>
		<input type="radio" name="ques2" value="Parfaitement"> Parfaitement<br>
		<input type="radio" name="ques2" value="La plupart des cas"> La plupart des cas<br>
		<input type="radio" name="ques2" value="Plus ou moins"> Plus ou moins<br>
		<input type="radio" name="ques2" value="Pas correctement"> Pas correctement<br>
	</div>
	<br>			
	<div class="container-md p-3 my-3 border bg-light">
		<h3>Qu'aimez-vous de l'UI de ce site en particulier?</h3><br>
		<input type="text" name="ques3"><br>
	</div>
	<br>			
	<div class="container-md p-3 my-3 border bg-light">
		<h3>Ce site fait preuve de:</h3><br>
		<input type="checkbox" name="ques4" value="Fiabilité"> Fiabilité<br>
		<input type="checkbox" name="ques4" value="Efficacité"> Efficacité<br>
		<input type="checkbox" name="ques4" value="Sécurité"> Sécurité<br>
		<input type="checkbox" name="ques4" value="Cohérence"> Cohérence<br>
		<input type="checkbox" name="ques4" value="Fonctionnement correcte"> Fonctionnement correcte<br>
		<input type="checkbox" name="ques4" value="Aucun"> Aucun<br>
	</div>
	<br>			
	<div class="container-md p-3 my-3 border bg-light">
		<h3>Ce site fait preuve d'un bon utilisabilité.</h3><br>
		<ul class='likert'>
      			<li>
        			<input type="radio" name="ques5" value="Très d'accord">
        			<label>Très d'accord</label>
      			</li>
      			<li>
        			<input type="radio" name="ques5" value="D'accord">
        			<label>D'accord</label>
      			</li>
      			<li>
        			<input type="radio" name="ques5" value="Neutre">
        			<label>Neutre</label>
      			</li>
      			<li>
      				<input type="radio" name="ques5" value="Désaccord">
        			<label>Désaccord</label>
      			</li>
      			<li>
        			<input type="radio" name="ques5" value="Très désaccord">
        			<label>Très désaccord</label>
      			</li>
    		</ul>
	</div>			
	<br>
	<h3>Commentaires:</h3><br>
	<textarea name="ques6" rows="10" cols="152"></textarea>
	<br>
	<button class="btn btn-primary" type="submit" id="bb">Soumettre!</button>
	<br>
	<p>! Site Web conçu par Aboubaker Ismael Awaleh</p>	
    </form>
	<script src="/assets/action.js"></script>
  </body>
</html> 